<div class="container" style="background-color: white;">

    <div class="mt-4">
        <img
            src="../assets/iscte_logo.jpg"
            width="370"
            height="100"
        />
    </div>

    <header>
        <h1>Question Generator</h1>
        <p class="tagline">Generates questions about your own programming code!</p>
    </header>

    <br>

    <form class="code-submission-form">

        <mat-form-field class="example-full-width">
            <mat-label>Paste your code here (make sure it has no errors!)</mat-label>
            <textarea [disabled]="phase !== 1" matInput rows="5" [(ngModel)]="code" name="code" placeholder="public class SomeClass { ... }"></textarea>
        </mat-form-field>
    
        <br>

        <button mat-raised-button color="primary" *ngIf="phase === 1" (click)="submitCode()">Submit Code</button>
    
    </form>
    
    <br>
    <br>

    <div *ngIf="loading" style="margin:auto; width: 10%;">
        <mat-spinner [diameter]="50" ></mat-spinner>
    </div>

    <form class="answer-submission-form" *ngIf="phase === 2 && !loading">
        <h3>Answer the following questions about your code</h3>
        <div *ngFor="let qa of interaction?.qas; let index = index; trackBy: trackByIndex">
            <mat-form-field class="example-full-width">
                <mat-label>{{ qa.question }}</mat-label>
                <input matInput name="answer{{index}}" [(ngModel)]="qa.userAnswer">
              </mat-form-field>
        </div>
        <br>
          <button mat-raised-button color="primary" (click)="submitAnswers()">Submit Answers</button>
    </form>

    <form class="evaluation-form" *ngIf="phase === 3 && !loading">
        <h3>Review your answers against the correct answers</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let fb of feedback">{{ fb }}</li>
          </ul>
          <br>

          <div class="col text-center">
            <button mat-raised-button color="primary" (click)="cleanup()">Submit new code</button>
          </div>
    </form>


    <footer>
        <div class="text-muted text-center mt-4 mb-4">© 2021 Tiago Martinho</div>
      </footer>
</div>
